body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tile-list {
    display: block;
}

.tile {
    margin: 0 40px;
    display: inline-block;
    position: relative;
    height: 150px;
    width: 150px;
    border: solid 2px black;
    background-color: lightgreen;
}

.tile-0 {
    transform: rotate(0deg);
}

.tile-90 {
    transform: rotate(90deg);
}

.tile-180 {
    transform: rotate(180deg);
}

.tile-270 {
    transform: rotate(270deg);
}

/* region Puzzle */

#save-puzzle {
    width: 30px;
}

.known-puzzles {
    display: flex;
    flex-wrap: wrap;
}

.known-puzzle {
    padding: 7px 5px;
    border: 1px solid grey;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    flex-basis: 8%;
}

.known-puzzle:hover {
    background-color: goldenrod;
    
}

.total-puzzle, .loaded-puzzle {
    position: relative;
    height: 400px;
    width: 700px;
    margin: 0 20%;
    display: flex;
    flex-flow: wrap;
}

.outer-puzzle-field {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 220px;
    height: 220px;
}

.inner-puzzle-field {
    width: 100%;
    border: 1px solid black;
    margin: 20px;
}

.outer-puzzle-field.hoverable {
    width: 160px;
    height: 160px;
    opacity: 0.3;
    margin: 20px;
}

.outer-puzzle-field.hoverable:hover {
    cursor: pointer;
    opacity: 1;
}

.add-puzzle-field {
    margin: 25% 34%;
    color: lightblue;
}

.row-one {
    top: 0;
}

.column-two {
    left: 220px;
}

.column-three {
    left: 440px;
}

.column-one {
    left :0;
}

.row-two {
    top: 220px;
}

.row-three {
    top: 440px;
}

.road-end {
    position: absolute;
    background-color: bisque;
    width: 20px;
    height: 20px;
}

.road-end:hover {
    background-color: darkgoldenrod;
    cursor: pointer;
}

.road-end-horizontal {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.road-end-vertical {
    border-right: 1px dashed black;
    border-left: 1px dashed black;
}

.road-end-top {
    top: 0;
}
.road-end-right {
    right: 0;
}
.road-end-bottom {
    bottom: 0;
}
.road-end-left {
    left: 0;
}

/* Road 1 */
.road-end-1.road-end-all-sides {
    left: 29%;
}
.road-end-1.road-end-no-left-side {
    left: 17.5%;
}
.road-end-1.road-end-no-right-side {
    left: 32.5%;
}
.road-end-1.road-end-no-sides {
    left: 19.5%;
}

/* Road 2 */
.road-end-2.road-end-all-sides {
    right: 29%;
}
.road-end-2.road-end-no-left-side {
    right: 32.5%;
}
.road-end-2.road-end-no-right-side {
    right: 22%;
}
.road-end-2.road-end-no-sides {
    right: 22%;
}

/* Road 3 */
.road-end-3.road-end-all-sides {
    top: 29%;
}
.road-end-3.road-end-no-top-side {
    top: 29%;
}
.road-end-3.road-end-no-bottom-side {
    top: 29%;
}
.road-end-3.road-end-no-sides {
    top: 29%;
}

/* Road 4 */
.road-end-4.road-end-all-sides {
    bottom: 29%;
}
.road-end-4.road-end-no-top-side {
    bottom: 29%;
}
.road-end-4.road-end-no-bottom-side {
    bottom: 18%;
}
.road-end-4.road-end-no-sides {
    bottom: 18%;
}

/* Road 5 */
.road-end-5.road-end-all-sides {
    right: 29%;
}
.road-end-5.road-end-no-left-side {
    right: 32.5%;
}
.road-end-5.road-end-no-right-side {
    right: 22.5%;
}
.road-end-5.road-end-no-sides {
    right: 22.5%;
}

/* Road 6 */
.road-end-6.road-end-all-sides {
    left: 29%;
}
.road-end-6.road-end-no-left-side {
    left: 22.5%;
}
.road-end-6.road-end-no-right-side {
    left: 32.5%;
}
.road-end-6.road-end-no-sides {
    left: 19.5%;
}

/* Road 7 */
.road-end-7.road-end-all-sides {
    bottom: 29%;
}
.road-end-7.road-end-no-top-side {
    bottom: 28%;
}
.road-end-7.road-end-no-bottom-side {
    bottom: 22%;
}
.road-end-7.road-end-no-sides {
    bottom: 29%;
}

/* Road 8 */
.road-end-8.road-end-all-sides {
    top: 29%;
}
.road-end-8.road-end-no-top-side {
    top: 22%;
}
.road-end-8.road-end-no-bottom-side {
    top: 32%;
}
.road-end-8.road-end-no-sides {
    top: 29%;
}

/* endregion Puzzle */

/* region Choices */

.road-text-input {
    height: 40px;
    margin: 20px;
    width: 40px;
    font-size: 24px;
}

.tile-road-end {
    background-color: forestgreen;
    text-align: center;
    font-weight: bold;
    color: white;
}

.bridge-road-end {
    background-color: saddlebrown;
    text-align: center;
    font-weight: bold;
    color: white;
}

/* endregion Choices*/

/* region Icons*/
.condition-choices {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.condition-choice {
    margin: 5px;
}

.svg-icon {
    height: 40px;
    width: 40px;
}

.bridge-icon {
    background-color: saddlebrown;
    padding: 0px 4px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.tile-icon {
    background-color: forestgreen;
    padding: 0px 12px;
    color: white;
    line-height: 42px;
    font-size: 42px;
    font-weight: bold;
}

.gate-icon {
    background-color: darkblue;
    padding: 3px;
}

.tree-icon {
    background-color: mediumpurple;
    padding: 3px;
}

.butterfly-icon {
    background-color: #e2b231;
    padding: 3px;
}

.flower-icon {
    background-color: darkred;
    padding: 3px;
}

.confirmed-condition {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    font-size: 18px;
}

.confirmed-condition-1top {
    top: 0;
    right: 20%;
}

/* endregion Icons*/

/* region Solved Puzzle */

.solved-puzzle-wrapper {
    margin-top: 30px;
    position: relative;
}

.solved-tile {
    height: 178px;
    width: 178px;
}

/* endregion Solved Puzzle*/