body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tile-list {
    display: block;
}

.tile {
    margin: 0 40px;
    display: inline-block;
    position: relative;
    height: 150px;
    width: 150px;
    border: solid 2px black;
    background-color: lightgreen;
}

.road, .inner-road {
    position: absolute;
}

.road {
    background-color: bisque;
}

    .road .inner-road {
        background-color: lightgreen;
    }

.road-border-top {
    border-top: dashed 1px black;
}

.road-border-right {
    border-right: dashed 1px black;
}

.road-border-left {
    border-left: dashed 1px black;
}

.road-border-bottom {
    border-bottom: dashed 1px black;
}

.top-zero {
    top: 0;
}

.right-zero {
    right: 0;
}

.bottom-zero {
    bottom: 0;
}

.left-zero {
    left: 0;
}

.top-margin {
    top: 20px;
}

.right-margin {
    right: 12%;
}

.bottom-margin {
    bottom: 12%;
}

.left-margin {
    left: 12%
}

.full-width {
    width: 100%;
    height: 12%;
}

.full-height {
    width: 12%;
    height: 100%;
}

.short-turn-road {
    width: 28%;
    height: 28%;
}

.inner-short-turn-road {
    width: 57%;
    height: 57%;
}

.wide-turn-road {
    width: 84%;
    height: 84%;
}

.inner-wide-turn-road {
    width: 86%;
    height: 86%;
}

.skew-turn-road-vertical {
    width: 45px;
    height: 125px;
}

.inner-skew-turn-road-vertical {
    width: 30px;
    height: 100px;
}

.skew-turn-road-horizontal {
    width: 125px;
    height: 45px;
}

.inner-skew-turn-road-horizontal {
    width: 100px;
    height: 30px;
}

.returning-road-horizontal {
    width: 90px;
    height: 35px;
    left: 20%;
}

.inner-returning-road-horizontal {
    width: 55px;
    height: 19px;
    left: 15%;
}

.returning-road-vertical {
    width: 35px;
    height: 90px;
    top: 20%;
}

.inner-returning-road-vertical {
    width: 19px;
    height: 55px;
    top: 15%;
}


.bottom-right-full-radius {
    border-bottom-right-radius: 100%;
}

.bottom-left-full-radius {
    border-bottom-left-radius: 100%;
}

.top-left-full-radius {
    border-top-left-radius: 100%;
}

.top-right-full-radius {
    border-top-right-radius: 100%;
}


/* region Puzzle */

.total-puzzle {
    position: relative;
    height: 400px;
    width: 700px;
    margin: 0 20%;
    display: flex;
    flex-flow: wrap;
}

.outer-puzzle-field {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 220px;
    height: 220px;
}

.inner-puzzle-field {
    width: 100%;
    border: 1px solid black;
    margin: 20px;
}

.outer-puzzle-field.hoverable {
    width: 160px;
    height: 160px;
    opacity: 0.3;
    margin: 20px;
}

.outer-puzzle-field.hoverable:hover {
    cursor: pointer;
    opacity: 1;
}

.add-puzzle-field {
    margin: 25% 34%;
    color: lightblue;
}

.row-one {
    top: 0;
}

.column-two {
    left: 220px;
}

.column-three {
    left: 440px;
}

.column-one {
    left :0;
}

.row-two {
    top: 220px;
}

.row-three {
    top: 440px;
}

.road-end {
    position: absolute;
    background-color: bisque;
    width: 20px;
    height: 20px;
}

.road-end:hover {
    background-color: darkgoldenrod;
    cursor: pointer;
}

.road-end-horizontal {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.road-end-vertical {
    border-right: 1px dashed black;
    border-left: 1px dashed black;
}

.road-end-1 {
    left: 20%;
    top: 0;
}

.road-end-2 {
    right: 20%;
    top: 0;
}

.road-end-3 {
    top: 20%;
    right: 0;
}

.road-end-4 {
    right: 0;
    bottom: 20%;
}

.road-end-5 {
    right: 20%;
    bottom: 0;
}

.road-end-6 {
    left: 20%;
    bottom: 0;
}

.road-end-7 {
    left: 0;
    bottom: 20%;
}

.road-end-8 {
    left: 0;
    top: 20%;
}

/* endregion Puzzle */

/* region Icons*/
.condition-choices {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.condition-choice {
    margin: 5px;
}

.svg-icon {
    height: 40px;
    width: 40px;
}

.bridge-icon {
    background-color: saddlebrown;
    padding: 0px 4px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.tile-icon {
    background-color: forestgreen;
    padding: 0px 12px;
    color: white;
    line-height: 42px;
    font-size: 42px;
    font-weight: bold;
}

.gate-icon {
    background-color: darkblue;
    padding: 3px;
}

.tree-icon {
    background-color: mediumpurple;
    padding: 3px;
}

.butterfly-icon {
    background-color: #e2b231;
    padding: 3px;
}

.flower-icon {
    background-color: darkred;
    padding: 3px;
}

.confirmed-condition {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
}

.confirmed-condition-1top {
    top: 0;
    right: 20%;
}

/* endregion Icons*/

/* region Solved Puzzle */

.solved-puzzle-wrapper {
    position: relative;
}

/* endregion Solved Puzzle*/