@model JapanseTuinen.Models.TileViewModel
@{
    ViewBag.Title = "Puzzels";
}

<h2>Tegels:</h2>
<div id="moon"></div>
<div class="tile-list">
    @foreach (var tile in Model.TileList)
    {
        <h3>Tegel @tile.TileNumber</h3>

        foreach (var rotated in tile.TotalTileRotationList)
        {
            @*<h4>@rotated.Degrees</h4>*@
            <img class="tile tile-@rotated.Degrees" src="@String.Format("/Images/tile_{0}.png", tile.TileNumber)" />
        }
    }
</div>